# R and Quarto
.Rhistory
.RData
.Rproj.user/
.Renviron
.DS_Store
__pycache__/
*.pyc
*.o
*.so
*.dll
*.log
*.aux
*.out
*.toc
*.pdf
*.html
*.qmd
*.nb.html
*.nb.qmd
*.Rcheck/
renv/library/
renv/python/
renv/staging/
.Rprofile
.env
.envrc
/data/
/reports/
