input:
  feature_matrix: ../examples/data/nci60/metab_feature_matrix.csv
  metadata: ../examples/data/nci60/metadata.csv
  data_type: untargeted
  organism: Homo sapiens
  sample_id_column: sample_id
  feature_metadata: ../examples/data/nci60/metab_feature_metadata.csv
optional_inputs:
  feature_metadata: ~
  annotation_table: ~
  pathway_mapping: ~
  internal_standards: ~
  gmt_file: ~
  ms2_library_file: ~
sample_types:
  sample_type_column: sample_type
  sample_value: Sample
  qc_value: QC
  blank_value: Blank
  assume_all_samples: yes
design:
  condition_column: condition
  design_formula: ~ condition
  contrasts:
  - solid - hematological
  reference_level: hematological
  batch_column: ~
  injection_order_column: ~
processing:
  zeros_as_na: yes
  transform: log2
  pseudocount: 1
  normalization_method: PQN
  scaling_method: pareto
  log_transform: yes
filtering:
  global_min_presence: 0.2
  group_min_presence: 0.5
  blank_ratio_threshold: 0.3
  qc_rsd_threshold: 0.3
  remove_low_variance: yes
  variance_percentile: 0.05
batch_correction:
  method: none
  combat_parametric: yes
  loess_span: 0.75
imputation:
  method: half_min
  half_min_fraction: 0.5
  min_prob_quantile: 0.01
  knn_k: 10
qc:
  n_pca_components: 10.0
  outlier_sd_threshold: 3
  min_total_signal_percentile: 0.05
  run_umap: yes
  run_pca: yes
differential:
  method: limma
  adj_pvalue_threshold: 0.05
  log2fc_threshold: 1
  min_samples_per_group: 3
multivariate:
  run_plsda: no
  plsda_ncomp: 3
  plsda_cv_folds: 5
enrichment:
  run_enrichment: yes
  methods: ora
  ora_pvalue_threshold: 0.05
  min_set_size: 3
  max_set_size: 500
  run_class_enrichment: yes
output:
  output_dir: outputs
  report_format: html
  interactive_plots: yes
  fig_width: 10
  fig_height: 8
  plot_dpi: 300
duplicates:
  strategy: keep_most_complete
